
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,300);
*{
    margin: 0;padding: 0;
}

body{
    color:#FFF;
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-size: 4em;
    text-shadow: 0 1px #D05050;
    font-family: 'Roboto';
    font-weight: 100;
        
}

.box{
    padding: 50px 0 0 0;
    height: 100vh;
    background: #F05555;
}

.mainform input[type='text'] , .mainform input[type='email']{
    color:#FFF;
    background: transparent;
    border-bottom: 1px solid #CDCDCD;
}

.mainform input[type='text']:focus , .mainform input[type='email']:focus{
    border-bottom: 2px solid #006064;
    box-shadow: none;
}
.mainform input[type='button']{
    background: #00897b;   
}



#wrong,#sold{
    color:#555;
}